<ion-modal [isOpen]="modalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{item.name}}</ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="closeModal()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
        reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui. Eaque,
        dicta.
      </p>
    </ion-content>
  </ng-template>
</ion-modal>